{% extends "baseTemplate.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/indexTemplate.css" />
    <script src="../../js/index.js"></script>
{% endblock %}
{% block content %}
    <h1>Nuevo expermiento</h1>
    <form action="" class="row" id="formulario_nuevo_experimento">
        <div class="row">
            <label for="" class="col-6 col-6-m"><strong>Nombre del experimento</strong></label>
            <input type="text" min="5" max="100" required name="name" class="col-5 col-6-m" id="name">
        </div>
        <div class="row">
            <label for="" class="col-3 col-12-m"><strong>Descripción</strong></label>
            <textarea type="text" name="description" cols="10" rows="5" class="col-9 col-12-m" id="desc"> </textarea>
        </div>
        <div id="errores" class="errores"></div>
        <p class="button-green col-3 col-12-m " id="create_button">Crear!</p>
    </form>
    <div class="row">
        <h2>Últimos test</h2>
        <input type="text" id="busqueda" placeholder="Search for names.." title="Nombre de Test">
        <!--<p><img src="../../images/search.png" id="busqueda" alt="Buscar" class="icon"> Buscar</p> -->
        <table class="myTable">
            <tr class="cabecera">
               <th>Nombre</th>
               <th>Fecha</th>
               <th>Resultado</th>
            </tr>
            
            {% for test in tests %}
               <tr>
                <td><a href="test.php?id={{ test.id }} "> {{test.name}} </a></td>
                <td>{{test.date}}</td>
                <td>{{test.resultAsString()}}</td>
                </tr>
            {% else %}
                <td> No hay resultado</td>
            {% endfor %}
           
            
        </table>
    </div>
{% endblock %}