{% extends "baseTemplate.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/profileTemplate.css" />
{% endblock %}
{% block content %}
   
    <h1> Mi perfil </h1>
   
   <div class="card row">
   	<img src="../../images/icons_profile/2.png" class="avatar">
   	<div class="contenedor">
    	<h2 class="title"> {{ researcher.name }} {{researcher.surname}}</h2>
    	<p id="email"> {{ researcher.email }} </p>
    	<p> {{ researcher.user }} </p>
    	<p> {{ researcher.birthday }} </p>
    </div>
   </div>
{% endblock %}