{% extends "baseTemplate.twig" %}

{% block title %}{{ test.name }}{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/indexTemplate.css" />1
    <link rel="stylesheet" href="../../css/testTemplate.css" />
    <script src="../../js/index.js"></script>
    <script src="../../js/modelo.js"></script>
    <script src="../../js/testControler.js"></script>
{% endblock %}
{% block content %}
   <section id="datosTest">
       <p id="testName"><strong>Nombre:</strong> {{ test.name }}</p>
       <p id="testId" style="display: none"><strong></strong>{{ test.id }}</p>
       <p id="testsPlatesId" style="display: none"> {{ plate }} </p>
       <p id="testDescription"><strong>Descripción:</strong> {{ test.description }} </p>
       <p id="testResult"><strong>Resultado:</strong> {{ test.resultAsString() }} </p>
       <!-- IRIAN MAS DATOS -->
       
   </section>
   
   <section id="sectionSteps">
      <!-- SECCION EN LA QUE SE CARGAN Y MUESTRAN LOS PASOS -->
       
        <!-- LA CARGA DE NUEVOS PASOS SOLO SE DEBERIA APARECER SI EL TEST SE ESTA CREANDO -->
        <p id="stepsDescription" class=""><i>Ingrese y ordene los pasos a realizar, <strong>tenga en cuenta que una vez iniciado el test no podrá cambiarlos</strong></i></p>
        <form action="" id="stepsForm">
        <br>
            <p id="stepsFormTitle"><strong>Nuevo Paso</strong></p>
            <!--  pense q iban pero los agrege de mas
            <label for="">Nombre:</label>
            <input type="text" id="stepsNewName" placeholder="Nombre del paso" name="stepsNewName">
            -->
            <label for=""><strong>Descripción:</strong></label>
            <input type="text" id="stepsNewDescr" placeholder="Descripcion del paso" name="stepsNewDescr">
            <label for="">Tipo de paso:</label>
            <input type="radio" name="stepsNewType" value="well" id="checkWell"> wells
            <input type="radio" name="stepsNewType" value="plate" checked> plaqueta
            <input type="number" id="stepsNewTime" name="stepsNewTime">
            <p id="stepsNewButton" class="button-green" onclick="controlador.newStep()">Crear Paso</p>
            <div class="errores" id="stepsNewError">
                
            </div>
        </form>
       
       <!-- LOS PASOS -->
       <table id="stepsTable">
           <tr id="stepsTHead">
               <th>Select</th>
               <th style="display: none;">ID</th>
               <th>Descripcion</th>
               <th>Tipo</th>
               <th>Orden</th>
               <th>Eliminar</th>
           </tr>
           {% for stepPlate in stepsPlate %}
                <td><input type="radio"></td>
                <td>stepPlate.name</td>
                <td>stepPlate.description</td>
                <td>stepPlate.type</td>
                <td><input type="number" min="1"></td>
                <td> x </td>
            {% endfor %}
           
           
       </table>
       
   </section>
    <section id="sectionPlate">
        <table id="plateTable">
            <thead id="plateHead">
            <tr id="plateHeadRow">
            <th class="tableHeadColumn "></th>
            {% for nro in nros %}
                <th class="tableHeadColumn" >{{nro}}</th>
            {% endfor %}
            </tr>
            </thead>
            {% for letra in letras %}
                <tr class="plateRow">
                <td class="plateLetterCell ">
                    {{letra}}
                </td>
                {% for nro in nros %}
                    <td class="plateCell" id="cell{{letra}}{{nro}}">
                        <div class="circulo none" onclick="controlador.clickCircle('{{letra}}','{{nro}}')" ></div>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </section>
            
{% endblock %}
